body
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
header
{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    margin: 0;
}
p
{
    margin: 0;
}
.header-logo
{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
ul
{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}
a
{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}
.hero
{
    display: flex;
    background-color: #1F2937;
    padding: 100px 150px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.title
{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.hero-text
{
    display: flex;
    flex-direction: column;
}
.hero-secondary-text
{
    margin-bottom: 20px;
}
#hero-img
{
    width: 400px;
    height: auto;
}
button
{
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-color:#3882F6;
    border-style: solid;
}

.information
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    gap: 40px;
    padding: 0px 150px 100px 150px;
}
.information-images
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#information-header
{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 50px;

}
.infoimg-placeholder
{
    border: 3px solid #3882F6;
    border-radius: 10px;
    padding: 70px;
}
.infoimg-subtext
{
    max-width: 140px;
    font-size: smaller;
    margin: 5px;
}
.quote-section
{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
}
#quote
{
    font-size: 36px;
    font-weight: 300;
    color: #1f2937cc;
    font-style: italic;
}
#quote-source
{
    font-weight: 700;
    font-size: 24px;
    align-self: flex-end;
    color: #000000;
    padding-right: 50px;
}
.sign-up-section
{
    margin: 70px 200px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 35px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button2
{
    border-color: white;
    font-weight: bold;
}
.sign-up-header
{
    font-weight: bold;
}
.sign-up-subtext
{
    font-size: 11px;
}
footer
{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 14px;
}